
@use 'mixing' as *;

.supercharge{
    text-align: center;

    &__flex{
        width: 100%;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin-inline: auto;
    }
    
    @include display-medium{
        &__flex{
            flex-direction: row;
            max-width: 1200px;
         
            margin-top: 3rem;
            align-items: flex-start;
            & h3, & p{
                margin-top: 0;
            }
            & img{
                height: 40px;
                margin-bottom: 2rem;
            }
        }
       
    }
}

